<h1>Episode Number: <%= @episode.number %></h1>
  <% @episode.appearances.each do |appearance| %>
    <li><%= link_to appearance.guest.name, guest_path(appearance.guest) %> Rating: <%=appearance.rating%></li>
  <% end %>
